{% extends "basedepartment.html" %}
  
{% block title %}Add New Department{% endblock title %}
  
{% block content %}
<div class="col-md-12-add">    
    <form method="POST" class="post-form2" action="/departmentsdashboard/addnewdepartment">  
    {% csrf_token %}  
    <div class="container">  
        <div class="col-12">  
        <h3>Enter Department Details</h3>  
        </div>    
     
        <div class="mb-3">
            <label for="fullName" class="form-label">Department Name:</label>
            {{ form.name }}
            <br>
            {% if form.errors.name %}
                <span class="error" style="color: red;">{{ form.errors.name.0 }}</span>
            {% endif %}
        </div>
        <div class="mb-3 button-container">
            <span class="btn-add-new-2">
                <a href="{% url 'showdepartment' %}" style="font-weight: normal; font-family:'Times New Roman', Times, serif; font-size: 15px;">Back</a>
            </span>
            <button type="submit" class="btn btn-success btn-lg" style="font-weight: normal; font-family:'Times New Roman', Times, serif; font-size: 15px;">Submit</button>
        </div>
    </div>  
    </form>  
</div> 
{% endblock content %} 